.logo_t {
position: absolute;
Width: 17px;
Height: 32px;
Top: 61px;
Left: 201px;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 33px;

color: #FFFFFF;

mix-blend-mode: normal;

}

.circle {
    position: absolute;
    left: 191px;
top: 56px;
    width: 41px;
    height: 41px;
        border-radius: 20.5px;
    background: #458FF6;
  }


.logo_trafalgar{
    position: absolute;
    Width: 107px;
    Height: 30px;
    Top: 62px;
    Left:244px;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    color: #233348;
    
    mix-blend-mode: normal;
}


   
.header_nav_style{
    position: absolute;
        height: 23px;
    left: 863px;
    top: 70px;
    right: 192px;
    
 }
 .header_nav_text_style{
   

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #1F1534;
padding: 40px;
opacity: 0.5;
 }

 .h1_text_style{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
        color: #7D7987;
       mix-blend-mode: normal;
 }

.border_content{
    Width: 350px;
    Height: 354px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-color: transparent;
    position: absolute;
}
.border_content2{
    border-style: solid;
    width: 200px;
    height: 56px;
    background: #458FF6;
    border-radius: 55px;
    list-style: none;
    border-color:#458FF6 ;
    position: absolute;
}

.h2_text_style{
    font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 56px;
color: #000000;
mix-blend-mode: normal;
padding-left: 39px;
padding-right: 39px;
padding-top: 20px;
}
 .h3_text_style{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color:  #7D7987;
    mix-blend-mode: normal;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 39px;
 }
 .img_style{
    padding-left: 37px;
    padding-top: 54px;
 }